<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Book</h1>
    <form action="/" method="POST">
        <input type="text" name="name" />
        <input type="text" name="genre" />
        <select name="authorId">
            <% for(var i = 0 ; i < result.length ; i++){
                %>
            <option value="<%= result[i]._id %>"><%= result[i].name %></option>
            <% } %>
        </select>
        <input type="submit" value="submit" />
    </form>
    <h1>Author</h1>
    <form action="/author" method="POST">
        <input type="text" name="name" />
        <input type="text" name="age" />
        <input type="submit" value="submit" />
    </form>
    
</body>
</html>